@page
@model DocusignModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h2>DocuSign url : </h2>
        <p>
            @Model.Url
        </p>
    </div>
</div>